@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.background{
    background-image: linear-gradient(-45deg, #081b29 0%, #0ef 100%);
    width: 100%;
    height: 100vh;
}

/* Home Section */

.home{
    background-image: linear-gradient(-35deg, #081b29 0%, #0ef 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 16rem;
}
.home h1{
    margin: 70px 0 20px 0;
    font-size: 2.2rem;
    font-weight: 600;
    color:white;
}
.home h2{
    margin: 20vh 0 33vh 0;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color:white;
}
.create_form input{
    width: 500px;
    margin-bottom: 20px;
    font-weight: medium;
    font-size: 1.1rem;
    letter-spacing: 2px;
    padding: 15px;
    border-radius: 25px 0 0 25px;
    outline: none;
}
.create_form button{
    width: 100px;
    background-color: #081b29;
    padding: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 0 25px 25px 0;
    color:white;
    cursor: pointer;
}
.create_form button:hover{
    background-color: #FF3C00;
}
.task{
    display: flex;
    width: 600px;
    height: 50px;
    padding : 2px 5px 2px 5px;
    margin: 10px 0 10px 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    background-color: #081b29;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
}
.checkbox{
    display:flex;
    align-items: center;
}
.checkbox .icons{
    margin: 0 10px;
    font-size: 1.5rem;
}
.checkbox .icons:hover{
    color:green;
}
.task div span{
    margin: 0 5px 0 4px;
}
.task div .icon{
    cursor:pointer;
    margin: 0 10px;
    font-size: 1.3rem;
}
.task div .icon:hover{
    cursor:pointer;
    color:red;
    margin: 0 10px;
    font-size: 1.5rem;
}
.line_through{
    text-decoration: line-through;
}